$fontfamily: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontsize: 1.4rem;
$fontcolor: black;

$background: #181818;
$primary: #202020;
$secondary: #121212;
$white: #fff;
$z-index-sidebar: 100;
$z-index-header: 100;
$sidebar-width: 350px;