<header class="header">
	<div class="header__left">
		<nav class="nav">
			<ul class="nav__list">
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<a href="#">Продукция</a>
				</li>
				<li>
					<a href="#">Галерея</a>
				</li>
				<li>
					<a href="#">О нас</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="header__right">
		<nav class="nav">
			<ul>
				<li>
					<a href="#">Профиль</a>
				</li>
			</ul>
		</nav>
		<form action="/" method="post">
			<input type="text">
		</form>
	</div>
</header>